@import 'vars';

body{
    background-color: $bg-color;
    color: $text-color;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    width: 85%;
}
section, header{
    background-color: $bg-secondary-color;
    padding: 1rem;
}

main{
    section{
        h1{
            text-align: center;
        }
        .products{
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);
            .product{
                background-color: $bg-color;
                padding: .5rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                h3{
                    text-align: center;
                    margin:  .5rem 0 0 0 ;
                }
                img{
                    width: 100%;
                    height: auto;
                }
                .product-details{
                    text-align: center;
                }
                button{
                    @include btn(50%);
                }
            }
        }
    }
}
